[Unit]
Description=Multicasst Audio Recorder

[Service]
User=aes67
WorkingDirectory=/home/aes67/multicast-audio-recorder
ExecStart=/home/aes67/multicast-audio-recorder/start.sh

Restart=on-failure

[Install]
WantedBy=multi-user.target